{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
{% load crispy_forms_tags%}
<section class='text-left container'>
    <button href="" class="btn btn-success" type="submit">
        <a href="{% url 'homework' %}" style="color:white;" > Go to create Homework section </a>
     </button><br><br>
</section>
<div class="container">
<form method="POST">
        {% csrf_token %}
          <div class="container">
           <fieldset class="form-group">
            <legend class="border-bottom mb-4">Updating Homework for {{user.username}}</legend>
        </fieldset>
           {{form|crispy}}
        <div class="form-group">
            <button href="" class="btn btn-outline-info" type="submit">
                Save upadated homework
            </button>
</div>
{% endblock content %}