{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}
<section class='text-left container'>
<button href="" class="btn btn-success" type="submit">
    <a href="{% url 'notes' %}" style="color:white;" > Go to create notes section </a>
 </button>
</section>
<section class='text-center container'>
    
    <div class="container">
        <div class="content-section p-0 mt-4">
            <div class="m-3">
                <h2>{{note.title}}</h2>
            </div>

            <hr class="p-0 m-0">
            <p class="description m-5 p-5">
                {{note.description}}
            </p>
            <div class="form-group">
            <button href = "" class="btn btn-outline-info" type="submit" >
                <a href = "{% url 'update_note' note.id %}" style="color:grey;"> Edit note </a>
            </button>
            <button href = "" class="btn btn-outline-info" type="submit">
             <a href="{% url 'delete_note' note.id %}" style="color:grey;"> Delete note </a>
            </button>
        </div>
        </div>
    </div>

</section>

{% endblock content %}