# This is a basic workflow to help you get started with Actions

name: CI/CD Django, Postgres, Heroku

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    services:
      postgres_main:
        image: postgres:12
        env:
          POSTGRES_USER: fgwmxcophwrowt
          POSTGRES_PASSWORD: f6460762952378e143e4135b62c61c15afa773418f0a25461a1c1ae8db4f20d4
          POSTGRES_DB: dalb9l8gf6hd7r
        PORT:
          - 5432:5432
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install requirements.txt
        run: pip install -r requirements.txt
      - name: Run Tests
        env: 
          DEBUG: "0"
          DJANGO_SECRET_KEY: CI_CD_TEST_KEY
          POSTGRES_USER: fgwmxcophwrowt
          POSTGRES_PASSWORD: f6460762952378e143e4135b62c61c15afa773418f0a25461a1c1ae8db4f20d4
          POSTGRES_DB: dalb9l8gf6hd7r
          POSTGRES_PORT: 5432  
        run: |
          python manage.py test
      # # Runs a single command using the runners shell
      # - name: Run a one-line script
      #   run: echo Hello, world!

      # # Runs a set of commands using the runners shell
      # - name: Run a multi-line script
      #   run: |
      #     echo Add other actions to build,
      #     echo test, and deploy your project.